:root{
  --primary: #FD6F00;
  --text-black: #000000;
  --text-white: #FFFFFF;
  --gray: #EDECEC;
  --gray-deep: #F8F8F8;
  --gray-black:  #797979;
  

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  color: var(--text-black);
  background-color: var(--text-white);
  font-weight: 400;
  letter-spacing: 3%;
  font-size: 21px;


}
a{
  text-decoration: none;
  color: var(--text-black);
}
li{
  list-style: none;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
  
}
.text-orang{
  color: var(--primary);
}

.bg-orang{
  background-color: var(--primary);
}

.btn.btn-primary{
  background-color: var(--primary);
  font-size: 21px;
  padding: 18px;
  border: none;
  border-radius: 5px;
  color: var(--text-white);
  cursor: pointer;
  min-width: 188px;

}

.title{
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;


}
.title-desc{
  font-size: 21px;
  text-align: center;
  min-width: 932px;
  margin: 0 auto;
}

/* header */
.header-contant{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  margin-top: 61px;
}

.header-nav ul{
  display: flex;
  gap: 12px;
  justify-content: end;
  align-items: center;
}

.header-nav ul li a{
  padding: 10px 14px;
}

/* hero-section */
.hero-section{
  padding-top: 120px;
  padding-bottom: 70px;
}
.hero-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-contant{
  max-width: 714px;
}
.hero-contant h6{
  font-weight: 600;
  font-size: 22px;
}
.hero-contant h5{
  color: var(--primary);
  font-weight: 600;
  font-size: 32px;
}
.hero-contant h1{
  font-size: 100px;
  font-weight: 700;
  line-height: 120%;
}
.hero-contant h1 span{
  display: block;
  text-align: right;
}
.hero-contnet p {
  margin-top: 28px;
  margin-bottom: 22px;
}

.hero-img {
  text-align: center;
  width: 417px;
  height: 617px;
}

.hero-icon{
  margin-top: 36px;
}
.hero-icon ul{
  display: flex;
  justify-content: center;
  gap: 26px;
}
/* about section */
.about-section{
  display: flex;
  justify-content: space-between;
}
.about-img{
  width: 100%;
}
.about-contant{
  padding: 54px 0 72px 0;
}
.about-section h2{
  font-size: 65px;
  font-weight: 700;
 
}
.about-contant p {
  font-weight: 500;
  margin: 15px 0;
}


.about-skill{
  height: 76px;
  width: 753px;
  align-items: center;
}
.about-skill h4{
  font-size: 24px;
  font-weight: 600;
  margin: 15px 0 12px 0;
}
.skill{
  height: 12px;
  width: 100%;
  background-color: var(--gray);
  border-radius: 6px;
  position: relative;
}
.skill::after{
  content: " ";
  background-color: var(--primary);
  height: 12px;
  width: 80%;
  position: absolute;
  border-radius: 6px;
  left: 0%;
  top: 0%;
}
.skill::before{
  content: " ";
  position: absolute;
  background-color: var(--gray);
  border-radius: 50%;
  border: 3px solid var(--primary);
  height: 32px;
  width: 32px;
  left: 80%;
  top: 50%;
  transform: translate(-20px, -50%);
  z-index: 1;
}
.skill-tow::after{
  width: 75%;
}
.skill-tow::before{
  left: 75%;
}


.skill-three::after{
  width: 85%;
}
.skill-three::before{
  left: 85%;

}

/* .service-section */
.services-section{
  padding: 70px 0 70px 0;
}
.services-title{
  text-align: center;
  height: 214px;
  max-width: 932px;
  margin: 0 auto;
}
.services-title h2{
  font-size: 65px;
  font-weight: 700;
}
.services-items{
  background-color: var(--gray-deep);
  padding: 75px 18px 10px 18px;
  align-items: center;
  border-radius: 14px;
}
.services-items h6{
  margin: 17px 0 15px 0;
  font-size: 32px;
  font-weight: 600;
}
.services-items p{
  font-size: 19px;
  font-weight: 400;
}
.service-item{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 31px; 
}

/* project section */
.project-nav ul{
  display: flex;
  gap: 17px;
  justify-content: center;
  margin-top: 60px;
}
.project-nav ul li a{
  padding: 10px 20px;
  background-color: var(--gray-deep);
  border: 1px solid var(--gray);
  border-radius: 12px;
}
.project-item{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 105px;
  gap: 44px;
}
.project-items h6{
  margin: 37px 0 10px 0;
  color: var(--primary);
  font-size: 19px;
}
.project-items h6{
  font-size: 24px;
  font-weight: 900;
}


/* testimoials */
.testimonials{
  padding: 70px 0;
}
.testimonial{
  display: flex;
  height: 344px;
  width: 1087px;
  padding: 55px 77px 53px 44px;
  background-color: var(--gray-deep);
  border-radius: 14px;
  text-align: justify;
  gap: 30px;
  margin: 0 auto;
}
.testimonials-contant p{
  position: relative;
}
.testimonials-contant span{
  font-size: 32px;
  font-weight: 800;
  color: var(--primary);
  position: absolute;

 
}
.testimonials-contant p span:first-child{
  top: -18px;
  left: -2%;
}
.testimonials-contant p span:last-child{
  bottom: -25%;
}
.testimonials-contant h5{
  font-size: 24px;
  font-weight: 600;
  padding: 12px 0;
}
.testimonials-contant h6{
  font-size: 19px;
}


/* news letter form section start */
.send-section{
  margin: 0 auto;
  padding: 70px;
}
.send-btn{
 display: flex;
 width: 100%;
 gap: 25px;
 justify-content: center;
 margin-top: 48px;
}
.send-btn .send-btn-text{
  padding: 22px 26px 21px 26px;
  width: 627px;
  height: 75px  ;
  border-radius: 14px;
  font-size: 21px;
  font-weight: 500;
  outline: none;
}
.send-btn input[type="text"]::placeholder{
  font-size: 21px;
  color: var(--gray-black) ;
  font-weight: 600;
}
/*  news letter form section end */
/* foter */
.foter{
  background-color: var(--gray-deep);
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 88px;
}

.foter .foter-img{
  width: 242px;
  margin: 0 auto;
  display: block;
}

.foter-nav ul{
display: flex;
gap: 12px;
justify-content: center;
align-items: center;
}

.header-nav ul li a{
padding: 10px 14px;
}

.foter-icon{
  margin-top: 36px;
}
.foter-icon ul{
  display: flex;
  justify-content: center;
  gap: 26px;
}

.copy-right{
  background-color: #545454;
  height: 84px;
  width: 100%;
  padding: 26px;
}
.copy-right p{
 text-align: center;
 color: var(--text-white);
}
.copy-right a{
  color: var(--primary);

}